
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>


@model RegisterModel


<style>
  .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      margin: auto;
  }
</style>

<div id="msg" data-status="@(ViewBag.Message is not null ? "Completed":"NotCompleted" )">@(ViewBag.Message is not null ? "Giriş Ekranına yönlendiriliyorsunuz..." : "")</div>

@if (ViewBag.Message is not null)
{
  <div class="alert alert-success">@ViewBag.Message</div>
}

<main class="form-signin">
  <form method="post" asp-controller="Account" asp-action="Register">
    <div class="form-floating">
      <input type="text" asp-for="UserName" class="form-control" id="floatingInput" placeholder="kullanıcı adı giriniz">
      <label for="floatingInput">Kullanıcı Adı</label>
      <span asp-validation-for="UserName"></span>
    </div>

     <div class="form-floating">
      <input type="email" asp-for="Email" class="form-control" id="floatingInput" placeholder="kullanıcı adı giriniz">
      <label for="floatingInput">Kullanıcı E-Posta</label>
      <span class="text-danger" asp-validation-for="Email"></span>
    </div>

    <div class="form-floating">
      <input type="password" asp-for="Password" class="form-control" id="floatingPassword" placeholder="parolayı giriniz">
      <label for="floatingPassword">Parola</label>
      <span asp-validation-for="Password"></span>
    </div>


    <div class="form-floating">
      <input type="password" asp-for="PasswordAgain" class="form-control" id="floatingPassword" placeholder="parolayı giriniz">
      <label for="floatingPassword">Parola Tekrar</label>
      <span asp-validation-for="PasswordAgain"></span>
    </div>


   
    <button class="w-100 btn btn-lg btn-primary" type="submit">Kayıt Ol</button>
    <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
  </form>
</main>
<script>

  var msg = document.getElementById("msg");
  // HTTPGET DE NotCompleted
  // HTTPPOST da veri tabanına kayıt geçildiyse Completed 
  if (msg.getAttribute("data-status") == "Completed") {
    // 3 sn sonra kodu yönlendir.
    setTimeout(() =>
    {
      window.location.href = "/Account/Login";
    }, 3000);
  }
</script>
